@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  *@
@{
    <h2>Thông Tin Chi Tiết Bệnh Nhân</h2>
    <div>
        <h4>Bệnh Nhân</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>
            <dt class="col-sm-2">
                Số CMND
            </dt>
            <dd class="col-sm-10">
                @Model.IdentificationNumber
            </dd>
            <dt class="col-sm-2">
                Thời Gian Đến
            </dt>
            <dd class="col-sm-10">
                @Model.AddedTime.ToString("dd/MM/yyyy HH:mm")
            </dd>
            <dt class="col-sm-2">
                Tiểu sử bệnh án
            </dt>
            <dd class="col-sm-10">
                @Model.MedicalHistory
            </dd>

        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
        <a asp-action="GetPatientNotExamined">Quay Lại Danh Sách</a>
        <a href="@Url.Action("MarkExamined", "Patient", new { id = Model.Id })" class="btn btn-primary">Next</a>
    </div>
}
@* <script>
                    // <a id="nextButton" type="button" class="btn btn-success">Next</a>
    $(document).ready(function () {
        $('#nextButton').click(function () {
            // Gửi yêu cầu AJAX để lấy thông tin bệnh nhân tiếp theo
            $.ajax({
                url: '@Url.Action("GetNextPatient", "Patient")',
                type: 'GET',
                success: function (data) {
                    // Chuyển hướng đến trang chi tiết của bệnh nhân tiếp theo
                    window.location.href = '@Url.Action("Details")/' + data.id;
                },
                error: function () {
                    alert('Có lỗi xảy ra khi tải thông tin bệnh nhân tiếp theo.');
                }
            });
        });
    });
</script> *@
